---
layout: default
---


<div class="main-container">

{% include header.html %}

<div id="container">
<div id="grid" data-columns class="cols normal">
 {% for post in site.posts %}
    <div class="box">
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h4 class="index-title">{{post.title}}</h4>
            <p>{{ post.description }}</p>
             <div class="action">{{ post.date | date: '%B %d, %Y' }}<a href="{{post.url | prepend: site.baseurl}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div> 
        </div>   
    </div>
       {% endfor %}
       

       
 </div>
</div>      

</div><!-- main-container -->
<script src="{{site.baseurl}}/js/salvattore.min.js"></script>


